{{ if .Site.Params.projects.enable | default false }}
<script type="text/javascript" src="js/jquery.js"></script>
<!-- <style type="text/css">

    /*
=====
DEPENDENCES
=====
*/

/* 
helper to reset default browser's styles from headings
*/

.r-title{
    margin-top: var(--rTitleMarginTop, 0) !important;
    margin-bottom: var(--rTitleMarginBottom, 0) !important;
}

/* 
helper to hide elements that are available only for screen readers. 
*/

.screen-reader{
  width: var(--screenReaderWidth, 1px) !important;
  height: var(--screenReaderHeight, 1px) !important;
  padding: var(--screenReaderPadding, 0) !important;
  border: var(--screenReaderBorder, none) !important;

  position: var(--screenReaderPosition, absolute) !important;
  clip: var(--screenReaderClip, rect(1px, 1px, 1px, 1px)) !important;
  overflow: var(--screenReaderOverflow, hidden) !important;
}

/*
=====
POPUP
=====
*/

/*
1. Creating the top and bottom gaps for the modal so that content doesn't touches window's edges
*/

.popup:not(:target){
  display: none;
}

.popup:target{
  width: 100%;
  height: 100vh;
  
  display: flex;
 
  position: fixed;
  top: 0;
  right: 0;  
}

.popup::before{
  content: "";
  box-sizing: border-box;
  width: 100%;
  background-color: #fff;

  position: fixed;
  left: 0;
  top: 50%;
}

.popup::after{
  content: "";
  width: 0;
  height: 2px;
  background-color: #f0f0f0;

  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -1px;
}

.popup__container{
  box-sizing: border-box;  
  padding: 5% 15%;

  height: calc(100vh - 40px); /* 1 */
  margin: auto; /* 1 */
  overflow: auto; /* 1 */
  overscroll-behavior: contain; /* 1 */
}

.popup__title{
  --rTitleMarginBottom: 1.5rem;
  font-size: 1.5rem;
}

.popup__close{
  width: 2rem;
  height: 2rem;

  position: fixed;
  top: 1.5rem;
  right: 1.5rem;

  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  background-image: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjMDAwMDAwIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4gICAgPHBhdGggZD0iTTE5IDYuNDFMMTcuNTkgNSAxMiAxMC41OSA2LjQxIDUgNSA2LjQxIDEwLjU5IDEyIDUgMTcuNTkgNi40MSAxOSAxMiAxMy40MSAxNy41OSAxOSAxOSAxNy41OSAxMy40MSAxMnoiLz4gICAgPHBhdGggZD0iTTAgMGgyNHYyNEgweiIgZmlsbD0ibm9uZSIvPjwvc3ZnPg==);
}

/*
animation
*/

.popup::before{
  will-change: height, top;
  animation: open-animation .6s cubic-bezier(0.83, 0.04, 0, 1.16) .65s both;
}

.popup::after{
  will-change: width, opacity;
  animation: line-animation .6s cubic-bezier(0.83, 0.04, 0, 1.16) both;
}

@keyframes line-animation{

  0%{
    width: 0;
    opacity: 1;
  }

  99%{
    width: 100%;
    opacity: 1;
  }

  100%{
    width: 100%;
    opacity: 0;
  }  
}

@keyframes open-animation{

  0%{
    height: 0;
    top: 50%;
  }

  100%{
    height: 100vh;
    top: 0;
  }
}

.popup__container{
  animation: fade .5s ease-out 1.3s both;
}

@keyframes fade{

  0%{
    opacity: 0;
  }

  100%{
    opacity: 1;
  }
}

/*
=====
DEMO
=====
*/

body{
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Open Sans, Ubuntu, Fira Sans, Helvetica Neue, sans-serif;
  font-size: 1rem;
  color: #222;
  background-color: #512da8;
  margin: 0;
}

p{
  margin: 0;
  line-height: 1.5;
}

p:nth-child(n+2){
  margin-top: 1rem;
}

.open-popup{
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  padding: .75rem 1.25rem;
  border: 1px solid;
}

.page{
  min-height: 100vh;
  display: flex;
}

.page__container{
  max-width: 1200px;
  padding-left: .75rem;
  padding-right: .75rem;  
  margin: auto;
}



</style> -->

<link rel="stylesheet" type="text/css" href="/slick-1.8.1/slick/slick.css"/>
<link rel="stylesheet" type="text/css" href="/slick-1.8.1/slick/slick-theme.css"/>

<section id="projects" class="py-5">
    <div class="container">
        <h3 class="text-center">{{ .Site.Params.projects.title | default "Projects" }}</h3>
        <div class="row justify-content-center px-3 px-md-5">
            {{ range .Site.Params.projects.items }}
            <div class="col-lg-4 col-md-6 my-3">
                <div class="card my-3 h-100" title="{{ .title }}">
                    <div class="card-head">
                        <img class="card-img-top more" id = "{{ .id }}" src="{{ .image }}" alt="{{ .title }}">
                    </div>
                    <div class="card-body bg-transparent p-3">
                        <div class="pb-2 bg-transparent">
                            {{ range .badges }}
                            <span class="badge badge-secondary">{{ . }}</span>
                            {{ end }}
                        </div>
                        <h5 class="card-title bg-transparent mt-1">{{ .title }}</h5>
                        <div class="card-text bg-transparent secondary-font">
                            {{ .content }}
                        </div>
                    </div>
                    {{ if or (.links) (.featured) }}
                    <div class="card-footer py-3">
                        {{ range .links }}
                        <span class="m-1 mx-2">
                            <a href="{{ .url }}" target="_blank">
                                <i class="{{ .icon }}"></i>
                            </a>
                        </span>
                        {{ end }}
                        {{ if .featured }}
                        <span class="float-end">
                            <a class="btn btn-sm" href="{{ .featured.link }}" target="_blank">
                                {{ .featured.name }}
                            </a>
                        </span>
                        {{ end }}
                    </div>
                    {{ end }}
                </div>
            </div>
            {{ end }}
            {{ range ( where .Site.RegularPages "Type" "projects" ) }}
            {{ if .Params.showInHome | default true }}
            <div class="col-lg-4 col-md-6 my-3">
                <div class="card my-3 h-100" title="{{ .Title }}">
                    <div class="card-head">
                        <img class="card-img-top" src="{{ .Params.image }}" alt="{{ .Title }}">
                    </div>
                    <div class="card-body bg-transparent p-3">
                        <div class="pb-2 bg-transparent">
                            {{ range .Params.badges }}
                            <span class="badge badge-secondary">{{ . }}</span>
                            {{ end }}
                        </div>
                        <h5 class="card-title bg-transparent">{{ .Title | truncate 50 }}</h5>
                        <div class="card-text bg-transparent secondary-font">
                            {{ .Summary | truncate 100 | safeHTML }}
                        </div>
                    </div>
                    <div class="card-footer py-3">
                        {{ range .Params.links }}
                        <span class="m-1 mx-2">
                            <a href="{{ .url }}">
                                <i class="{{ .icon }}"></i>
                            </a>
                        </span>
                        {{ end }}
                        <span class="float-end">
                            <a class="btn btn-sm" href="{{ .RelPermalink }}">
                                Know more
                            </a>
                        </span>
                    </div>
                </div>
            </div>
            {{ end }}
            {{ end }}
        </div>
    </div>
</section>

<div id = "radishModal" class="modal fade bd-example-modal-lg modal-dialog-scrollable" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel" >Radish</h5>

          <img  class = "close" src ="images/xmark-solid.svg" alt="truc" data-bs-dismiss="modal" aria-label="Close" style ="width: 5%; padding-right: 1%;">
      </div> 
      <div class="modal-body">
        <div class="container-fluid">
          <div class = "row">
            <div id="carouselRadish" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="images/r.webp" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="images/php.webp" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="images/node.webp" class="d-block w-100" alt="...">
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselRadish" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselRadish" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>
          <div class ='row'>
            <div class="col" style ="text-align: center;" ><h1>Informations</h1></div>
          </div>
          <br>
          <div class ='row'>
            <div class="col"><h3>Cadre :</h3></div>
            <div class="col"><h3>Date :</h3></div>
            <div class="col"><h3>Participants :</h3></div>
          </div>
          <div class ='row'>
            <div class="col">Projet de Master 2</div>
            <div class="col">2022</div>
            <div class="col">4</div>
          </div>
          <br>
          <div class ='row'>
            <div class="col" style ="text-align: center;" ><h1>Description</h1></div>
          </div>
          <div class ='row'>
            <div class="col" >
              <p>
                Un projet dont l'objectif était de fournir une application mobile ainsi qu'un site web (avec un côté client et administration),
                L'application mobile permet de scanner le code barre de tout les produits scannés et, en fonction de la base de données allergènes de l'utilisateur connectés, de prévenir l'usager de la dangerosité ou non du dit produit

              </p>

            </div>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
      </div>
    </div>

  </div>
</div>


<!-- <div id = "hydroModal" class="modal fade bd-example-modal-lg modal-dialog-scrollable" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="hydroModalLabel">Hydro Météo</h5>

          <img  class = "close" src ="images/xmark-solid.svg" alt="truc" data-bs-dismiss="modal" aria-label="Close" style ="width: 5%; padding-right: 1%;">
      </div> 
      <div class="modal-body">
        <div id="carouselHydro" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="images/r.webp" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="images/php.webp" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="images/node.webp" class="d-block w-100" alt="...">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselHydro" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselHydro" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
      </div>
    </div>

  </div>
</div> -->


<!-- <div id = "tictacModal" class="modal fade bd-example-modal-lg modal-dialog-scrollable" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="tictacModalLabel">Star wars Tic Tac Toe</h5>

          <img  class = "close" src ="images/xmark-solid.svg" alt="truc" data-bs-dismiss="modal" aria-label="Close" style ="width: 5%; padding-right: 1%;">
      </div> 
      <div class="modal-body">
        <div id="carouselTictac" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="images/r.webp" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="images/php.webp" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="images/node.webp" class="d-block w-100" alt="...">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselTictac" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
      </div>
    </div>

  </div>
</div>

<div id = "siteModal" class="modal fade bd-example-modal-lg modal-dialog-scrollable" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="siteModalLabel">Site</h5>
          <img  class = "close" src ="images/xmark-solid.svg" alt="truc" data-bs-dismiss="modal" aria-label="Close" style ="width: 5%; padding-right: 1%;">
      </div> 
      <div class="modal-body">
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="images/r.webp" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="images/php.webp" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="images/node.webp" class="d-block w-100" alt="...">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
      </div>
    </div>

  </div>
</div>

<div id = "siteModal" class="modal fade bd-example-modal-lg modal-dialog-scrollable" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Site Professionnel</h5>
          <img  class = "close" src ="images/xmark-solid.svg" alt="truc" data-bs-dismiss="modal" aria-label="Close" style ="width: 5%; padding-right: 1%;">
      </div> 
      <div class="modal-body">
        <div id="carouselSite" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="images/r.webp" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="images/php.webp" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="images/node.webp" class="d-block w-100" alt="...">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselSite" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselSite" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
      </div>
    </div>

  </div>
</div>

<div id = "pongModal" class="modal fade bd-example-modal-lg modal-dialog-scrollable" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Pong</h5>
          <img  class = "close" src ="images/xmark-solid.svg" alt="truc" data-bs-dismiss="modal" aria-label="Close" style ="width: 5%; padding-right: 1%;">
      </div> 
      <div class="modal-body">
        <div id="carouselPong" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="images/r.webp" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="images/php.webp" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="images/node.webp" class="d-block w-100" alt="...">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselPong" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselPong" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
      </div>
    </div>

  </div>
</div>  -->



<script>

// gestion des évènements pour chaques projets
document.getElementById('radish').addEventListener("click", function(event) { 
  $('#radishModal').modal('show');
});
document.getElementById('hydro').addEventListener("click", function(event) { 
  $('#hydroModal').modal('show');

});
document.getElementById('tictac').addEventListener("click", function(event) { 
  $('#tictacModal').modal('show');

});
document.getElementById('pong').addEventListener("click", function(event) { 
  $('#pongModal').modal('show');

});
document.getElementById('pompier').addEventListener("click", function(event) {
  $('#pompierModal').modal('show');
});
document.getElementById('site').addEventListener("click", function(event) { 
  $('#siteModal').modal('show');
});
</script>
{{ end }}

